* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  background-color: #282c34;
}

.content {
  display: flex;
  flex-direction: row;
  flex-flow: 1;
}
body::-webkit-scrollbar{
    display: none;
}
